# Node.js & Angular / React dependencies and builds
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.angular/
**/.angular/
coverage/
**/coverage/

# Java & Maven target directories
target/
**/target/
*.class
*.jar
.mvn/

# IDE and Editor files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Local/Workspace specific folder exclusions
docs/
backup_temp/
